body{
	
	background-color:#303030;
	color: white;
   
}

.column {
  float: left;
  width: 35%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.content {
  max-width: 500px;
  margin: auto;
}
