<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="style.css">
</head>
<body>

<div id="app">
    <h1>S3 Uploader Test - Questions? Ask James @jbesw</h1>

    <div>
      <h2>Select an file</h2>
      <input type="file" @change="onFileChange">
    </div>
    <div>
      
      <button v-if="!uploadURL" @click="removeFile">Remove File</button>
      <button v-if="!uploadURL" @click="uploadFile">Upload File</button>
    </div>
    <h2 v-if="uploadURL">Success! File uploaded to bucket.</h2>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="../../js/upload.js"> </script> 
</body>
</html>